header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(255, 255, 255);
    font-size: 16px;
    color-scheme: #f60909;
}

nav ul {
    display: flex;
    gap: 20px; 
    list-style-type: none; 
    margin: 20px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.Home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #833AB4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.Home:hover {
    background-color: #0056b3;
}

body { 
    background-color:#000000;
}
head
style
.header-container {
    display: flex;
    width: 100%;
}
.header-left {
    background-color:crimson;
    color: white;
    flex: 1;
    padding: 20px;
}
.header-right {
    background-color: #f60909;
    color: white;
    flex: 1;
    padding: 20px;
}
